{% extends "cloud_base.html" %}


{% block body %}
{{ block.super }}
<div>
    <h1>Liste des fichiers</h1>
    <table>
        {% for file in files %}
        <tr "id"={{file.id}}>
            <td>{{ file.name }}</td>
            <td>{{ file.ftype }}</td>
        </tr>
        {% empty %}
        <p>Vous n'avez pas encore uploadé de fichier</p>
        {% endfor %}
    </table>
    <form action='/tree/new' method="POST">
        <input type="submit" value="Ajouter un dossier">
    </form>
</div>
<div>
    <h1>Upload un fichier</h1>
    <form action='/file/upload' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Uploader ce fichier" />
    </form>
</div>
{% endblock %}
